compile_commands.json
.cache/
enc_temp_folder/
*.spall # profiling
*.bin # world files
debug_world.bin
flight*.zip
flight_server
flight.zip
ipsettings.h
releases/
.vs/
x64/
*.exe
*.obj
*.pdb
*.exp
*.lib
*.ilk
*.gen.h
