# profiling results
*.spall
# logs
astris_log.txt
compile_commands.json
.cache/
enc_temp_folder/
*.spall # profiling
*.bin # world files
debug_world.bin
flight*.zip
flight_server
flight.zip
releases/
.vs/
x64/
flight_debug.exe
flight_release.exe
*.obj
*.pdb
*.exp
*.lib
*.ilk
*.gen.h
