[Unit]
Description=Flight

[Service]
ExecStart=/root/flight/flight_server
WorkingDirectory=/root/flight
Restart=always

[Install]
WantedBy=multi-user.target
